//flexbox
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin flex-center {
	display: flex;
  align-items: center;
  justify-content: center;
}
//Boutons
@mixin btn-gradient {
  border-width: 0px;
  border-radius: 25px;
  background-color: $primary-color;
  font-weight: bold;
  color: white;
  background-image: linear-gradient($secondary-color,$primary-color);
}

@mixin btn-gradient-grow {
  border-width: 0px;
  border-radius: 45px;
  background-color: $primary-color;
  font-weight: bold;
  color: white;
  background-image: linear-gradient($secondary-color,$primary-color);
}
//Media Queries
@mixin tablet {
  @media (min-width:768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width:992px) {
    @content;
  }
}

