// fonts
$title-font: "Shrikhand";

// color
$primary-color:#9356DC;     
$secondary-color: #FF79DA;  
$tertiary-color: #99E2D0;   

// background
$back-color-footer : #353535;
$back-color-gray :#eaeaea;
$back-color-white :#f6f6f6;